/* //Los colores del Footer no convinan con la página, pero lo hice porque tiene los colores del Gobierno de Chile :) */
.footer {
    width: 100%;
    min-height: 50px;
    color: white;
    background: rgb(47,54,233);
    background: linear-gradient(90deg, rgba(47,54,233,1) 30%, rgba(231,0,16,1) 95%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5%;
    
  }
  
  .footer h2 {
    font-size: 12px;
    margin: 0;
  }
